// $view-width:1200px;

$defaultFontFamily:'Hiragino Sans GB','PingFang','Microsoft Yahei','宋体','Lucida Grande','Lucida Sans Unicode','Helvetica','Arial','Verdana','sans-serif';
$defaultFontSize:14px!important;//默认字体大小
$defaultFontColor:#555;//默认字体颜色
$h1FontSize:16px;//一级标题文字大小
$h1FontColor:#1d1c26;//一级标题颜色
$h1offFontColor:#999;//一级标题未选中颜色
$h2FontSize:16px;//二级标题文字大小
$h2FontColor:#333;//二级标题颜色
$defaultAColor:#888;//默认a字体颜色
$sidebarWidth:60px;//登陆sidebar宽度
$navWidth:330px;//菜单宽度
$paddingWidth:16px;//左右间距
//公共变量
$ykfnavBackground:#f5f5f5;//菜单背景色
$navBackground:#e7e7e7;//一级导航hover背景
$homeBorder:1px solid #ddd;//边框
$kfNavBackground:rgba(242, 242, 242, 1) #999;//导航背景色
$linkcolor:#37d5e0;//链接“a”常用色  编辑文字颜色
$linkHovercolor:#2a84c0;//链接“a”hover常用色
$deleteColor:#ff3b30;//警示性文字颜色
$redStarColor:#fd5161;//必填红星颜色
